{% load crypto_tags %}
{% load url from future %}
{% load admin_urls %}

<div class="results">
      <table cellspacing="0" id="result_list">
        <thead><tr>
        <th>Dashboard</th>
        <th>Eligibility</th>
        <th>Loss</th>
        <th>Refusal</th>
        <th>Registration Date/Time</th>
        <th>Age</th>  
        <th>User Created</th>  
        <th>Date Created</th>
        <th>Host</th>       
        </thead></tr>
        <tbody>
      {% for subject_eligibility in search_result.object_list %}
          <tr class="{% cycle 'row2' 'row1' %}">
                {% if subject_eligibility.is_consented %}
                    <td><A href="{% url 'subject_dashboard_url' dashboard_type='subject' dashboard_model='subject_eligibility' dashboard_id=subject_eligibility.pk show='appointments' %}"><div nowrap>{{ subject_eligibility.registered_subject.subject_identifier }}</div></A></td>
                {% elif subject_eligibility.is_eligible %}
                    <td><A href="{% url 'admin:bcvp_subject_subjectconsent_add' %}?registered_subject={{subject_eligibility.registered_subject.pk}}&next=section_url&section_name=subject">add subject consent</A></td>
                {% else %}
                    <td>{{ subject_eligibility.ineligibility }}</td>
                {% endif %}
                <td><A href="{% url 'admin:bcvp_subject_subjecteligibility_change' subject_eligibility.pk %}?&next=section_url&section_name=subject">edit eligibility</A></td>
                <td>{{subject_eligibility.subject_eligibility_loss.reason_ineligible|default:"-----" }}</td>
                {% if subject_eligibility.refusal_filled %}
                    {% if subject_eligibility.subject_refusal.reason == None %}
                        <td><A href="{% url 'admin:bcvp_subject_subjectrefusalreport_change' subject_eligibility.subject_refusal.pk %}?&next=section_url&section_name=subject">add refusal report</A></td>
                    {% else %}
                        <td><A href="{% url 'admin:bcvp_subject_subjectrefusalreport_change' subject_eligibility.subject_refusal.pk %}?&next=section_url&section_name=subject">edit refusal report</A></td>
                    {% endif %}
                {% else %}
                    <td>-----</td>
                {% endif %}
                <td>{{subject_eligibility.report_datetime}}</td>
                <td>{{subject_eligibility.age_in_years}}</td>
                <td>{{subject_eligibility.user_created}}</td>
                <td>{{subject_eligibility.created|date:"d M Y H:i"}}</td>
                <td>{{subject_eligibility.hostname_created}}</td>
         </tr>
      {% endfor %}
      <tr><td colspan="9">{{ search_result.object_list.count }} subject eligibility records found.</td></tr>
      </tbody>
      </table>
      </div>
