{% load crypto_tags %}
{% load url from future %}
{% load admin_urls %}

<div class="results">
      <table cellspacing="0" id="result_list">
        <thead><tr>
        <th>Dashboard</th>
        <th>First name</th>
        <th>Initials</th>
        <th>Consent Date/Time</th>
        <th>Age</th>  
        <th>User Created</th>  
        <th>Date Created</th>
        <th>Host</th>       
        
        </thead>
        <tbody>
      
      {% for subject_consent in search_result.object_list %}
                <tr class="{% cycle 'row2' 'row1' %}">
                <td><A href="{% url 'subject_dashboard_url' dashboard_type='subject' dashboard_model='subject_consent' dashboard_id=subject_consent.pk show='appointments' %}"><div nowrap>{{ subject_consent.registered_subject.subject_identifier }}</div></A></td>
                <td><A href="{% url 'admin:bcvp_subjectconsent_change' subject_consent.pk %}?&next=section_url&section_name=subject">edit consent</A></td>
                <td>{{subject_consent.first_name}}</td>
                <td>{{subject_consent.initials}}</td>
                <td>{{subject_consent.consent_datetime}}</td>
                <td>{{subject_consent.dob}}</td>
                <td>{{subject_consent.user_created}}</td>
                <td>{{subject_consent.created|date:"d M Y H:i"}}</td>
                <td>{{subject_consent.hostname_created}}</td>

      {% endfor %}
      <tr><td colspan="9">{{ search_result.object_list.count }} subject consent records found.</td></tr>
      </tbody>
      </table>
      </div>
